In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from tensorflow_hub import KerasLayer

In [5]:
preprocessor_url = "https://tfhub.dev/tensorflow/bert_en_uncased_preprocess/3"
encorder_url = "https://tfhub.dev/tensorflow/bert_en_uncased_L-12_H-768_A-12/4"

In [6]:
df = pd.read_csv('../legal_text_classification.csv')

In [7]:
df.head()

  case_id  ...                                          case_text
0   Case1  ...  Ordinarily that discretion will be exercised s...
1   Case2  ...  The general principles governing the exercise ...
2   Case3  ...  Ordinarily that discretion will be exercised s...
3   Case4  ...  The general principles governing the exercise ...
4   Case5  ...  The preceding general principles inform the ex...

[5 rows x 4 columns]

In [8]:
df.tail()

         case_id  ...                                          case_text
24980  Case25203  ...  That is not confined to persons who control th...
24981  Case25204  ...  Once the threshold prescribed by s 1335 is sat...
24982  Case25205  ...  Once the threshold prescribed by s 1335 is sat...
24983  Case25206  ...  Given the extent to which Deumer stands to gai...
24984  Case25207  ...  In my view, it is clear that the Court may do ...

[5 rows x 4 columns]

In [9]:
df.shape

(24985, 4)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24985 entries, 0 to 24984
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   case_id       24985 non-null  object
 1   case_outcome  24985 non-null  object
 2   case_title    24985 non-null  object
 3   case_text     24809 non-null  object
dtypes: object(4)
memory usage: 780.9+ KB

In [11]:
df.duplicated().sum()

0

In [13]:
df.isnull().sum()

case_id           0
case_outcome      0
case_title        0
case_text       176
dtype: int64